*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #f7ecf5;
    display: flex;
    align-content: center;
    justify-content: center;
}

#principal{
    background: linear-gradient(to bottom, #d6703d, #1e1e1e);
    border-radius: 16px;
    box-shadow: 5px 5px 1px black;
    width: 300px;
    height: 600px;
    margin-top: 20px;
    color: white;
    text-align: center;
}

#secundario{
    font-size: 12px;
    margin-top: 10px;
}

#botones button{
    display: block;
    align-content: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 25px;
    width: 250px;
    background-color: white; 
    color: black; 
    padding: 12px 24px; 
    font-size: 16px; 
    border-radius: 8px; 
    font-family: 'Roboto';
    cursor: pointer; 
    transition: all 0.3s ease;
}

#b1:hover{
    background-color: transparent;
}

.b2 {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid gray;
    border-top: 2px solid gray;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    width: 250px;
    transition: all 0.3s ease;
}

.b2:hover{
    background-color: transparent;
}


@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#principal header h1{
    font-family: 'Lexend+Deca';
    margin-top: 10px;
    color: white;
    font-size: 17px;
}

#i1{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-top: 50px;
}
#iconos{
    display: flex;
    align-content: center;
    margin-top: 10px;
}

#iconos img{
    border-radius: 50%;
    width: 30px;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 30px;
    
}

footer{
    font-size: 10px;
    margin-top: 100px;
}